<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.mobelti.com.tr/wp-content/uploads/2017/11/man-avatar.png">
      </ion-avatar>
      <h2>Vinsyah</h2>
      <h3>D4 - Jaringan Telekomunikasi Digital</h3>
      <p>Politeknik Negeri Malang</p>
    </ion-item>
  </ion-list>
</ion-content>
