<ion-header>
  <ion-navbar>
    <ion-title>DIY Smart Lamp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-item>
      <ion-label>Mode Auto</ion-label>
      <ion-toggle [(ngModel)]="auto" (ionChange)="changeMode($event)"></ion-toggle>
    </ion-item> -->
    <button ion-item *ngFor="let lamp of lamps" (click)="itemSelected(lamp)">
      <h2>{{ lamp.title }}</h2>
      <ion-icon item-end name="ios-arrow-forward-outline"></ion-icon>
    </button>  
  </ion-list>
</ion-content>
