<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ lamp.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <ion-list radio-group [(ngModel)]="type">
    <ion-list-header>
      Type of Lamp
    </ion-list-header>
    <ion-item>
      <ion-label>Outdoor</ion-label>
      <ion-radio (ionSelect)="changeType($event)" value="0"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Indoor</ion-label>
      <ion-radio (ionSelect)="changeType($event)" value="1"></ion-radio>
    </ion-item>

  </ion-list>   -->

  <ion-list>
    
    <ion-item>
      <ion-label>Mode Auto</ion-label>
      <ion-toggle [(ngModel)]="auto" (ionChange)="changeMode($event)"></ion-toggle>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Type of Lamp</ion-label>
        <ion-select [(ngModel)]="type" (ionChange)="changeType($event)" interface="action-sheet">
        <ion-option value="0">Outdoor</ion-option>
        <ion-option value="1">Indoor</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Mode Light Options</ion-label>
      <ion-select [(ngModel)]="options" (ionChange)="changeValue($event)" interface="action-sheet">
        <ion-option value="0">Off</ion-option>
        <ion-option value="1">Dim</ion-option>
        <ion-option value="2">Half Bright</ion-option>
        <ion-option value="3">Bright</ion-option>
      </ion-select>
    </ion-item>
    
  </ion-list>

  <!-- <ion-list no-lines>
    <ion-list-header>
      Log Activity
    </ion-list-header>
      <ion-item *ngFor="let item of items | async">
        {{ item }}
      <h3>{{ log.tanggal }}</h3>
      <p>{{ log.keterangan }}</p>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list radio-group [(ngModel)]="options">
    <ion-list-header>
      Mode Light Options 
    </ion-list-header>
    <ion-item>
      <ion-label>Off</ion-label>
      <ion-radio (ionSelect)="changeValue($event)" value="0"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Dim</ion-label>
      <ion-radio (ionSelect)="changeValue($event)" value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Half Bright</ion-label>
      <ion-radio (ionSelect)="changeValue($event)" value="2"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Bright</ion-label>
      <ion-radio (ionSelect)="changeValue($event)" value="3"></ion-radio>
    </ion-item>

  </ion-list>   -->
</ion-content>
